<div class="attendance-container">
    <h2>Check Attendance</h2>
    
    <div class="input-group">
      <label for="date">Select Date:</label>
      <input type="date" id="date" [(ngModel)]="selectedDate" (change)="fetchAttendanceStats()" class="date-picker"/>
    </div>
  
    <div *ngIf="attendanceRecord" class="attendance-card">
      <h3 [ngClass]="getStatusClass()">{{ status }}</h3>
      <p><strong>Login Time:</strong> {{ attendanceRecord.time_in }}</p>
      <p><strong>Logout Time:</strong> {{ attendanceRecord.time_out }}</p>
      <p><strong>Hours Worked:</strong> {{ hoursWorked }}</p>
    </div>
  </div>
