<div class="flex-grow-1  ">
    <h3 class="p-3">Attendace Log</h3>
    <div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Full Name</th>
                        <th>Designation/Role</th>
                        <th>Department</th>
                        <th>Status</th>
                        <th>Time</th>
                        <th>Date</th>   
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of filteredStudents | paginate: {itemsPerPage: itemsPerPage, currentPage: currentPage}">
                        <td>{{ student.id }}</td>
                        <td>
                            <span *ngIf="!student.isEditing">{{ student.fullName }}</span>
                            <input *ngIf="student.isEditing" [(ngModel)]="student.fullName">
                        </td>
                        <td>
                            <span *ngIf="!student.isEditing">{{ student.designation }}</span>
                            <input *ngIf="student.isEditing" [(ngModel)]="student.designation">
                        </td>
                        <td>
                            <span *ngIf="!student.isEditing">{{ student.department }}</span>
                            <input *ngIf="student.isEditing" [(ngModel)]="student.department">
                        </td>
                        <td>
                            <span class="badge bg-success" *ngIf="student.status === 'Present'">Present</span>
                            <span class="badge bg-danger" *ngIf="student.status === 'Absent'">Absent</span>
                            <span class="badge bg-warning text-dark" *ngIf="student.status === 'Late'">Late</span>
                        </td>
                        <td>{{ student.time }}</td>
                        <td>{{ student.date }}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
    <pagination-controls class="text-center" (pageChange)="currentPage = $event"></pagination-controls>
</div>