<admin-navbar (Sidebartoggle)="toggleSidebar($event)" (openAddUserModal)="openAddUserModal()"></admin-navbar>
<add-user [isOpen]="isAddUserModalOpen" (closeModal)="closeAddUserModal()" (userAdded)="userAdded($event)"></add-user>

<div class="d-flex">
    <!-- Sidebar -->
      <admin-sidebar [class.hidden]="!isSidebarOpen" (sectionChanged)="showSection($event)"></admin-sidebar>

    
    <!-- Main Content -->
    <div class="flex-grow-1 p-3" [ngStyle]="{ 'margin-top': '40px', 'margin-left': isSidebarOpen ? '200px' : '0vh' }">
      <ng-container *ngIf="activeSection === 'dashboard'">
          <admin-dashboard [students] = "students"></admin-dashboard>
      </ng-container>
        


        <ng-container *ngIf="activeSection === 'student-details'">
            <user-details [students] = "students"></user-details>
          
      
          <!-- Recent Logs -->
          <!-- <div class="mt-4">
              <h5>Recent Attendance Logs</h5>
              <div class="table-responsive">
                  <table class="table table-striped table-bordered text-center">
                      <thead class="thead-dark">
                          <tr>
                              <th>ID</th>
                              <th>Full Name</th>
                              <th>Status</th>
                              <th>Time</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let student of students">
                              <td>{{ student.id }}</td>
                              <td>{{ student.fullName }}</td>
                              <td>
                                  <span class="badge bg-success" *ngIf="student.status === 'Present'">Present</span>
                                  <span class="badge bg-danger" *ngIf="student.status === 'Absent'">Absent</span>
                                  <span class="badge bg-warning text-dark" *ngIf="student.status === 'Late'">Late</span>
                              </td>
                              <td>{{ student.time }}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div> -->
        </ng-container>
        
        <ng-container *ngIf="activeSection === 'attendance-log'">
          <attendance-logs [students] = "students"></attendance-logs>
        </ng-container>

        <ng-container *ngIf="activeSection === 'notification'">
            <admin-notification></admin-notification>
        </ng-container>

    </div>
  </div>