<div class="d-flex" style="height: 100vh; overflow: hidden;">
    <!-- Sidebar -->
    <div class="bg-dark text-white p-3" 
         [ngStyle]="{
           'width': isSidebarOpen ? '250px' : '0', 
           'visibility': isSidebarOpen ? 'visible' : 'hidden',
           'height': '100vh',
           'position': 'fixed',
           'top': '10px',
           'left': '0',
           'transition': 'width 0.5s ease, visibility 0.5s ease'
         }">
      <br><h4 class="text-center">Admin Panel</h4><br>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <button class="btn btn-outline-light w-100" (click)="showSection('dashboard')">Dashboard</button>
        </li>
        <li class="nav-item mb-2">
          <button class="btn btn-outline-light w-100" (click)="showSection('user-details')">User Details</button>
        </li>
        <li class="nav-item mb-2">
          <button class="btn btn-outline-light w-100" (click)="showSection('attendance-log')">Attendance Log</button>
        </li>
        <li class="nav-item mb-2">
          <button class="btn btn-outline-light w-100" (click)="showSection('notification')">Notifications</button>
        </li>
      </ul>
    </div>
  
    <!-- Main Content Area -->
    <div class="container-fluid" [ngClass]="{'collapsed': !isSidebarOpen}" 
         [ngStyle]="{
           'margin-left': isSidebarOpen ? '250px' : '0',
           'transition': 'margin-left 0.5s ease',
           'padding-top': '60px',
           'flex-grow': '1',
           'overflow-y': 'auto'
         }">
      <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <div>
            <button class="btn btn-dark me-2" type="button" (click)="toggleSidebar()">
              <i class="bi bi-layout-sidebar"></i>
            </button>
            <button class="btn btn-dark" type="button" (click)="triggerAddUserModal()">
              <i class="bi bi-person-plus"></i> 
            </button>
          </div>
  
          <div class="ms-auto">
            <button class="btn btn-dark" type="button" (click)="logout()">
              <i class="bi bi-power"></i>
            </button>
          </div>
        </div>
      </nav>
  
      <!-- Main Content Rendered via Router Outlet -->
      <router-outlet></router-outlet>
    </div>
  </div>