<div class="wrapper">
    <div class="logo">
        <!-- <img src="https://img.icons8.com/?size=100&id=52234&format=png&color=000000" alt=""> -->
         <img src="https://img.icons8.com/?size=100&id=fphMIPtYUsxi&format=png&color=000000" alt="">
    </div>
    <div class="text-center mt-4 name">
        Admin
    </div>
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="userName" id="userName" placeholder="Username" [(ngModel)]="username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" placeholder="Password" [(ngModel)]="password">
        </div>
        <button class="btn mt-3" (click)="login($event)">Login</button>
        <button class="btn mt-3" (click)="goToHome()">Home</button>
    </form>
</div>